// Required
*[dir='rtl'] {
  .card-header-required {
    .card-header::after {
      content: '*';
      color: red;
      position: absolute;
      right: 8px;
    }
  }
  .required {
    .input-group-prepend .input-group-text::after {
      content: '*';
      color: red;
      transform: translateY(-3px);
      padding-right: 1rem !important;
    }
    .card-header::after {
      content: '*';
      color: red;
      transform: translateY(-3px);
    }
    .static-card::after {
      content: '*';
      color: red;
      transform: translateY(-3px);
      padding-right: 1rem !important;
    }
    .range-input::after {
      content: '*';
      color: red;
      transform: translateY(-3px);
      padding-right: 1rem !important;
    }
  }
}

*[dir='ltr'] {
  .card-header-required {
    .card-header::after {
      content: '*';
      color: red;
      position: absolute;
      left: 8px;
    }
  }
  .required {
    .input-group-prepend .input-group-text::after {
      content: '*';
      color: red;
      transform: translateY(-3px);
      padding-right: 1rem !important;
    }

    .card-header::after {
      content: '*';
      color: red;
      transform: translateY(-3px);
    }

    .static-card::after {
      content: '*';
      color: red;
      transform: translateY(-3px);
      padding-right: 1rem !important;
    }
  }
}

// Auto Complete
.auto-complete {
  width: 100% !important;
}

.vertical-center {
  position: absolute;
  top: 50%;
  right: .8rem;
  transform: translateY(-50%);
  z-index: 20;
}


*[dir='rtl'] {
  .vertical-center {
    left: .8rem !important;
    right: unset !important;
  }
}

.auto-complete-list {
  &:hover {
    background-color: rgba($color: $primary, $alpha: .3);
  }
}

.bg-light-primary {
  background-color: rgba($color: $primary, $alpha: .5);
}




