// Required
*[dir='rtl'] {
  .card-header-required {
    .card-header::after {
      content: '*';
      color: $danger;
      position: absolute;
      right: 8px;
    }
  }
  .required {
    .input-group-prepend .input-group-text::after {
      content: '*';
      color: $danger;
      transform: translateY(-3px);
      padding-right: .4rem !important;
    }

    .input-group-text::after {
      content: '*';
      color: $danger;
      transform: translateY(-3px);
      padding-right: .4rem !important;
    }

    .card-header::after {
      content: '*';
      color: $danger;
      transform: translateY(-3px);
    }
    .static-card::after {
      content: '*';
      color: $danger;
      transform: translateY(-3px);
      padding-right: .4rem !important;
    }
    .range-input::after {
      content: '*';
      color: $danger;
      transform: translateY(-3px);
      padding-right: .4rem !important;
    }
  }
}

*[dir='ltr'] {
  .card-header-required {
    .card-header::after {
      content: '*';
      color: $danger;
      position: absolute;
      left: 8px;
    }
  }
  .required {
    .input-group-prepend .input-group-text::after {
      content: '*';
      color: $danger;
      transform: translateY(-3px);
      padding-right: .4rem !important;
    }

    .input-group-text::after {
      content: '*';
      color: $danger;
      transform: translateY(-3px);
      padding-right: .4rem !important;
    }

    .card-header::after {
      content: '*';
      color: $danger;
      transform: translateY(-3px);
    }

    .static-card::after {
      content: '*';
      color: $danger;
      transform: translateY(-3px);
      padding-right: .4rem !important;
    }
  }
}

// File Display
.file-display {
  .dimensions {
    width: 100px;
    height: 100px;
  }
  .items {
    @extend .d-inline-flex, .flex-wrap;
    .item {
      @extend .me-2, .d-flex, .align-items-stretch;
      .file {
        @extend .h5, .mb-0, .text-dark, .w-100, .d-flex, .flex-wrap, .align-items-center, .justify-content-center;
      }
      .image {
        @extend .d-flex, .align-items-center, .justify-content-center, .w-100;
      }
      @extend .border, .rounded, .overflow-hidden, .position-relative;
      .remove-btn {
        @extend .position-absolute, .text-white, .d-none, .rounded-circle;
        background-color: rgba(126, 126, 126, 0.7);
        left: 3px;
        top: 3px;
        width: 1.5rem;
        height: 1.5rem;
      }
      &:hover {
        .remove-btn {
          @extend .d-flex, .align-items-center, .justify-content-center;
        }
      }
    }
  }
}

// Auto Complete
.auto-complete {
  width: 100% !important;
}

.vertical-center {
  position: absolute;
  top: 50%;
  right: .8rem;
  transform: translateY(-50%);
  z-index: 20;
}


*[dir='rtl'] {
  .vertical-center {
    left: .8rem !important;
    right: unset !important;
  }
}
