// Required
*[dir='rtl'] {
  .auto-complete-multi {
    .wrapper {
      @extend .rounded-start, .ps-5;
    }

    .selected-item {
      @extend .ms-1;
    }
  }
}

*[dir='ltr'] {
  .auto-complete-multi {
    .wrapper {
      @extend .rounded-end, .pe-5;
    }

    .selected-item {
      @extend .me-1;
    }
  }
}

// File Display
.file-display {
  .dimensions {
    width: 100px;
    height: 100px;
  }
  .items {
    @extend .d-inline-flex, .flex-wrap;
    .item {
      @extend .me-2, .d-flex, .align-items-stretch;
      .file {
        @extend .h5, .mb-0, .text-dark, .w-100, .d-flex, .flex-wrap, .align-items-center, .justify-content-center;
      }
      .image {
        @extend .d-flex, .align-items-center, .justify-content-center, .w-100;
      }
      @extend .border, .rounded, .overflow-hidden, .position-relative;
      .remove-btn {
        @extend .position-absolute, .text-white, .d-none, .rounded-circle;
        background-color: rgba(126, 126, 126, 0.7);
        left: 3px;
        top: 3px;
        width: 1.5rem;
        height: 1.5rem;
      }
      &:hover {
        .remove-btn {
          @extend .d-flex, .align-items-center, .justify-content-center;
        }
      }
    }
  }
}

.padding-chips {
  padding: 0.15rem;
}

.auto-complete {
  @extend .w-100;
}

.auto-complete-multi {
  @extend .flex-nowrap;
  .wrapper {
    @extend .d-flex, .w-100, .flex-wrap, .px-1, .pb-1;
    border: 1px solid var(--bs-gray-400);

    .selected-item {
      @extend .font-90,
        .mt-1,
        .padding-chips,
        .px-1,
        .bg-light,
        .rounded,
        .d-flex,
        .flex-nowrap,
        .align-items-center,
        .border,
        .align-self-center;
    }

    .form-control {
      @extend .auto-complete, .border-0, .p-0, .p-0;

      &:focus {
        @extend .shadow-none;
      }
    }
  }
}

.vertical-center {
  position: absolute;
  top: 50%;
  right: 0.8rem;
  transform: translateY(-50%);
  z-index: 20;
}

*[dir='rtl'] {
  .vertical-center {
    left: 0.8rem !important;
    right: unset !important;
  }
}

// Date Time Picker
.date-time-picker {
  .vpd-input-group input {
    border: 1px solid #dadada !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
  .vpd-input-group {
    border-radius: 0.375rem !important;
    overflow: hidden;
  }
}

.custom-input {
  border: 1px solid #dadada;
  background: #fff;
  line-height: 30px;
  padding: 0 15px;
  vertical-align: middle;
}

.none-prepend {
  .custom-input,
  .form-control {
    border-radius: 0.375rem !important;
  }
}

.vpd-content {
  border-radius: 0.375rem !important;
  overflow: hidden;

  .vpd-header {
    .vpd-year-label,
    .vpd-date {
      text-align: center;
    }
  }
  .vpd-body {
    .vpd-controls {
      .vpd-month-label {
        width: 120px !important;
        span {
          &::hover {
            border-width: none !important;
          }
          border-width: none !important;
        }
        border: none !important;
      }
    }
    .vpd-actions {
      display: flex;
      justify-content: center;
    }
  }
}

// Uploader
.image-editor {
  .cropper-view-box {
    outline: 1px solid var(--secondary) !important;
  }
  .cropper-dashed.dashed-v,
  .cropper-dashed.dashed-h {
    border: 1px solid var(--light) !important;
  }
  .cropper-point {
    background-color: var(--secondary) !important;
    border-radius: 50% !important;
    opacity: 1 !important;
    width: 10px !important;
    height: 10px !important;
  }
  .cropper-line {
    background: none !important;
  }
  .point-e {
    margin-top: -5px !important;
    right: -5px !important;
  }
  .point-n {
    margin-left: -5px !important;
    top: -5px !important;
  }
  .point-w {
    margin-top: -5px !important;
    left: -5px !important;
  }
  .point-s {
    margin-left: -5px !important;
    bottom: -5px !important;
  }
  .point-ne {
    right: -5px !important;
    top: -5px !important;
  }
  .point-nw {
    left: -5px !important;
    top: -5px !important;
  }
  .point-sw {
    bottom: -5px !important;
    left: -5px !important;
  }
  .point-se {
    bottom: -5px !important;
    right: -5px !important;
  }
}

.remove-btn {
  color: $white;
  display: none;
  position: absolute;
  border-radius: 50%;
  background-color: rgba(126, 126, 126, 0.7);
  left: -86px;
  top: -14px;
}

.file-uploader {
  .card {
    .caption {
      margin: 0;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
    }
  }
}
// dropDown-caret

.no-caret {
  &::after {
    display: none;
  }
}

// colorPicker btn
.btn-check:checked + .btn,
:not(.btn-check) + .btn:active,
.btn:first-child:active,
.btn.active,
.btn.show {
  border: none !important;
  border-color: transparent !important;
}

//tinymce
.tinymce-title {
  background: $input-group-addon-bg;
  color: $input-group-addon-color;
  padding: 10px;
  margin: 0;
  border: 1px solid #ccc;
  border-width: 1px 1px 0;
  @extend .rounded-top;
}

.tox {
  .tox-menubar,
  .tox-statusbar {
    background-color: $input-group-addon-bg !important;
  }
}

.tox-listbox__select-chevron {
  @extend .me-2;
  display: inline-block;
}
